.chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 25px;
  height: 100%;
}

.nbWords {
  font-size: 15px;
}

.chart {
  width: 100%;
  border-radius: 5px;
  background: var(--good-background);
}
