:root {
  --main-background: #ffffff;
  --backdrop-background: rgba(0, 0, 0, 0.7);
  --good-background: rgba(25, 104, 25, 0.9);
  --wrong-background: rgba(202, 134, 10, 0.9);
  --unknown-background: rgba(128, 128, 128, 0.5);

  --font-color: #000000;

  --border-unknown: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--font--inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #0c0c0c;
    --unknown-background: rgba(255, 255, 255, 0.4);

    --font-color: #ffffff;

    --border-unknown: grey;
  }
}
